{% extends "awareness/base.html" %}
{% block content %}
    <style>
        .all_box{
            border: 2px solid black;
            font-size: large;
            margin: 10px;
            margin-right: 50px;
            display: inline;
        }
        .place_box,.code_box,.eng_box{
            border: 2px solid black;
            border-radius: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        h1,h2{
            text-align: center;
        }
        a{
            text-decoration: none;
            font-size: larger;
            padding: 40px;
            text-align: center;

        }
        .total_box{
            align-items: center;
        }
    </style>
    <div class="container total_box">
        <h1>Aptitude</h1>
        <div class="place_box">
            <a href="https://www.indiabix.com/">IndiaBix</a>
        </div>
        <div class="place_box">
            <a href="https://www.careerride.com/">CarrerRide</a>
        </div>
        <div class="place_box">
            <a href="https://www.javatpoint.com/aptitude/quantitative">javapoint</a>
        </div>
        <div class="place_box">
            <a href="https://www.geeksforgeeks.org/placements-gq/">GeeksforGeeks</a>
        </div>
        <div class="place_box">
            <a href="https://www.freshersnow.com/aptitude-questions-answers-solutions/">freshersNow</a>
        </div>
        <div class="place_box">
            <a href="https://www.faceprep.in/quantitative-aptitude/">FacePrep</a>
        </div>
        <div class="place_box">
            <a href="https://www.ambitionbox.com/topics/aptitude/questions-and-answers">AmbitionBox</a>
        </div>
        <div class="place_box">
            <a href="https://testbook.com/aptitude-questions">TestBook</a>
        </div>
        <div class="place_box">
            <a href="https://placement.freshersworld.com/aptitude-questions-and-answers">FreshersWorld</a>
        </div>
        <br>
        <h2>YouTube Channel for aptitude</h2>
        <div class="place_box">
            <a href="https://www.youtube.com/channel/UCjDHKp8AGNucJmEBMCk0NGg">CarrerRide</a>
        </div>
        <div class="place_box">
            <a href="https://www.youtube.com/c/ChandanLogics/featured">Chandan Logics</a>
        </div>
        <div class="place_box">
            <a href="https://www.youtube.com/channel/UCtmn-DsF4BhPug-ff9LiDAA">Feel Free to Learn</a>
        </div>
        <br>
        <br>
        <h1>Group Discussion</h1>
        <div class="place_box">
            <a href="https://www.groupdiscussionideas.com/group-discussion-topics-with-answers/">Group Discussion Ideas</a>
        </div>
        <div class="place_box">
            <a href="https://www.shiksha.com/mba/articles/group-discussion-topics-for-mba-blogId-19559">Shiksha</a>
        </div>
        <div class="place_box">
            <a href="https://www.indiabix.com/group-discussion/topics-with-answers/">IndiaBix</a>
        </div>
        <div class="place_box">
            <a href="https://gdpi.hitbullseye.com/group-discussion-topics.php">gdpi</a>
        </div>
        <div class="place_box">
            <a href="https://leverageedu.com/blog/gd-topics-for-placement/">LeveraGeedu</a>
        </div>
        <h1 style="text-align: center;">Coding Platform to imporove coding skills</h1>
    <div class="code_box">
        <a href="https://www.hackerrank.com/">HackerRank</a>
    </div>
    <div class="code_box">
        <a href="hackerearth">Hackerearth</a>
    </div>
    <div class="code_box">
        <a href="https://leetcode.com/">Leetcode</a>
    </div>
    
    <div class="code_box">
        <a href="https://www.geeksforgeeks.org/">GeeksforGeeks</a>
    </div>
    <div class="code_box">
        <a href="https://www.interviewbit.com/">InterviewBit</a>
    </div>
    <div class="code_box">
        <a href="https://www.freecodecamp.org/">FreeCodeCamp</a>
    </div>
    <h1>Platform to increase your Spoken English skills</h1>
        <div class="eng_box">
            <a href="https://www.cambly.com/english?lang=en">Cambly</a>
        </div>
        <div class="eng_box">
            <a href="https://www.engconvo.com">EngConva</a>
        </div>
        <div class="eng_box">
            <a href="https://www.usalearns.org/speaking-english">USA Learn</a>
        </div>
        <div class="eng_box">
            <a href="https://www.englishclub.com/speaking/">EnglishClub</a>
        </div>
        <div class="eng_box">
            <a href="https://www.talkenglish.com/">TalkEnglish</a>
        </div>
        <div class="eng_box">
            <a href="https://speakandimprove.com/">Speak & Learn</a>
        </div>
        
        <br>
        <br>
        <h1>Spoken English Course</h1>
        <div class="eng_box">
            <a href="https://www.skillshare.com/browse/learn-english?coupon=GOOG1MFREE&utm_source=Google&utm_medium=paidsearch&utm_campaign=Croud_Search_Google_IN_BOF_Non-Brand_DSA-Categories&utm_term=&matchtype=b&gclid=Cj0KCQjw-4SLBhCVARIsACrhWLVUAp3M6YdFjJ3U04cderZU4lPdAK0_H94ilFjzHqhQNNU5abcMIH8aAmQ-EALw_wcB">SkillShare</a>
        </div>
        <div class="eng_box">
            <a href="https://www.awalenglish.com/spoken-english-course/">AwalEnglish</a>
        </div>
        <div class="eng_box">
            <a href="https://www.coursera.org/courses?query=english%20speaking">Coursera</a>
        </div>
        <div class="eng_box">
            <a href="https://www.udemy.com/topic/english-language/">Udemy</a>
        </div>
        <div class="eng_box">
            <a href="https://www.oxfordonlineenglish.com/free-spoken-english-lessons">Oxford do Online English</a>
        </div>
        <br>
        <br>
        <h1>YouTube Channel for Spoken English</h1>
        <div class="eng_box">
            <a href=""></a>
        </div>
    </div>
</div>
{% endblock %}