{% extends "awareness/base.html" %}

{% block content %}
    <style>
        a{
            text-decoration: none;
            display: block;
            text-align: center;
            font-size: larger;
        }
        .code_box{
            border: 2px solid black;
            border-radius: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    </style>
    <div class="container">
    <h1 style="text-align: center;">Coding Platform to imporove coding skills</h1>
    <div class="code_box">
        <a href="https://www.hackerrank.com/">HackerRank</a>
    </div>
    <div class="code_box">
        <a href="hackerearth">Hackerearth</a>
    </div>
    <div class="code_box">
        <a href="https://leetcode.com/">Leetcode</a>
    </div>
    <div class="code_box">
        <a href="https://www.geeksforgeeks.org/">GeeksforGeeks</a>
    </div>
    <div class="code_box">
        <a href="https://www.interviewbit.com/">InterviewBit</a>
    </div>
    </div>
{% endblock %}