{% extends "awareness/base.html" %}
{% block content %}
    <style>
        a{
            text-decoration: none;
            display: block;
            text-align: center;
            font-size: larger;
        }
        .eng_box{
            border: 2px solid black;
            border-radius: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        h1{
            text-align: center;
        }
    </style>
    <div class="container">
        <h1>Platform to increase your Spoken English skills</h1>
        <div class="eng_box">
            <a href="https://www.cambly.com/english?lang=en">Cambly</a>
        </div>
        <div class="eng_box">
            <a href="https://www.engconvo.com">EngConva</a>
        </div>
        <div class="eng_box">
            <a href="https://www.usalearns.org/speaking-english">USA Learn</a>
        </div>
        <div class="eng_box">
            <a href="https://www.englishclub.com/speaking/">EnglishClub</a>
        </div>
        <div class="eng_box">
            <a href="https://www.talkenglish.com/">TalkEnglish</a>
        </div>
        <div class="eng_box">
            <a href="https://speakandimprove.com/">Speak & Learn</a>
        </div>
        
        <br>
        <br>
        <h1>Spoken English Course</h1>
        <div class="eng_box">
            <a href="https://www.skillshare.com/browse/learn-english?coupon=GOOG1MFREE&utm_source=Google&utm_medium=paidsearch&utm_campaign=Croud_Search_Google_IN_BOF_Non-Brand_DSA-Categories&utm_term=&matchtype=b&gclid=Cj0KCQjw-4SLBhCVARIsACrhWLVUAp3M6YdFjJ3U04cderZU4lPdAK0_H94ilFjzHqhQNNU5abcMIH8aAmQ-EALw_wcB">SkillShare</a>
        </div>
        <div class="eng_box">
            <a href="https://www.awalenglish.com/spoken-english-course/">AwalEnglish</a>
        </div>
        <div class="eng_box">
            <a href="https://www.coursera.org/courses?query=english%20speaking">Coursera</a>
        </div>
        <div class="eng_box">
            <a href="https://www.udemy.com/topic/english-language/">Udemy</a>
        </div>
        <div class="eng_box">
            <a href="https://www.oxfordonlineenglish.com/free-spoken-english-lessons">Oxford do Online English</a>
        </div>
        <br>
        <br>
        <h1>YouTube Channel for Spoken English</h1>
        <div class="eng_box">
            <a href=""></a>
        </div>
    </div>
{% endblock %}