{% extends "awareness/base.html" %}
{% block content %}
    <style>
        a{
            text-decoration: none;
            display: block;
            text-align: center;
            font-size: larger;
        }
        .job_box{
            border: 2px solid black;
            border-radius: 5px;
            margin-bottom: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        h1{
            text-align: center;
        }
    </style>
    <div class="container">
        <h1>Web portal for job search</h1>
    <div class="job_box">
    <a href="https://in.linkedin.com/">LinkedIn</a>
    </div>
    <div class="job_box">
    <a href="https://in.indeed.com/"> Indeed</a>
    </div>
    <div class="job_box">
    <a href="https://www.glassdoor.co.in/index.htm" >Glassdoor</a>
    </div>
    <div class="job_box">
    <a href="https://www.naukri.com/">Naukari</a>
    </div>
    <div class="job_box">
    <a href="https://hirect.in/connect/?utm_source=google&utm_medium=cpc&utm_device=c&utm_adposition&utm_campaign=13285424071&adgroupid=119681102381&adid=524482650889&keywordid=kwd-1287298268520&network=g&gclid=Cj0KCQjw-4SLBhCVARIsACrhWLVPbuKUXgh-v7RG2cEiLx3iiTPxWxMh953IwrHqoNXG_vXuJ6nFbQgaAqZlEALw_wcB" style="display: block;">Hirect</a>
    </div>
    <div class="job_box">
    <a href="https://www.careerjet.co.in/" >carrerJet</a>
    </div>
    <div class="job_box">
    <a href="https://www.careerbuilder.co.in/" >CareerBuilder</a>
    </div>
    <div class="job_box">
    <a href="https://www.dice.com/">Dice Jobs</a>
    </div>
    <div class="job_box">
    <a href="https://www.skillsearch.com/">Skill Search</a>
    </div>
    <div class="job_box">
    <a href="https://www.linkup.com/">LinkUp</a>
    </div>
    </div>
{% endblock %}